{% extends 'debate/layout.html' %}
{% load crispy_forms_tags %}
{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="back" style="margin-top: 0; margin-bottom: 10px;">
                <a href="{% url 'blog-home' %}" class="btn btn-outline-warning">Back to Blog</a>
            </div>
        <h1 class="display-4">Write a Blog</h1>
        <p class="lead">
            Pass on your wise words.
        </p>
        </div>
    </div>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{form | crispy }}
            <button type="submit" class="btn btn-outline-success">Post</button>
        </form>
    </div>

{% endblock %}