{% extends 'debate/layout.html' %}
{% load crispy_forms_tags %}
{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4">Profile</h1>
        <p class="lead">
            Everything others know about you!
        </p>
        </div>
    </div>
    
    <div class="container">
        <center>
            <div style="margin-bottom: 20px;">
                <div>
                  <img src="{{ user.profile.image.url }}" height="100px" width="100px" class="rounded-circle">
                </div>
                <em>@{{ user.username }}</em>
                <br>
                {{ user.first_name }} {{ user.last_name }}
                <br>
                {{ user.email }}
                <br>
                Contributions : {{ user.profile.contributions }}
            </div>
        </center>

        <!-- Edit Profile -->
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-outline btn-success" type="submit">Update</button>
                </form>
            </div>
          </div>
    </div>


    

{% endblock %}