{% extends 'debate/layout.html' %}
{% block body %}

<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0;">
    <div class="container">
      <h1 class="display-4">Help</h1>
      <p class="lead">
          Making the best use of Hear, Hear!
      </p>
    </div>
  </div>

  <div class="alert alert-success" role="alert" style="margin-bottom: 20px;">
    <div class="container">
        Have a suggestion? Want an improvement? <a href="mailto:rahulskhatav@gmail.com?subject=Hear, Hear!" class="alert-link">Drop us an email</a> and let us hear it!
    </div>
  </div>

  <div class="container">
      <!-- Register -->
        <div class="card" style="margin-bottom: 20px;">
        <h5 class="card-header">How do I register?</h5>
        <div class="card-body">
            <p>
                <ol>
                    <li>Select the option <b>Register</b> on the menu at the top.</li>
                    <li>Enter an unique <em>username</em> that is your identity on the platform.</li>
                    <li>Crunch in a few extra personal details.</li>
                    <li>Choose a strong password, one you can remember!</li>
                </ol>
            </p>
        </div>
      </div>

      <!-- Login -->
      <div class="card" style="margin-bottom: 30px;">
        <h5 class="card-header">Need help to login?</h5>
        <div class="card-body">
            <p>
                <ol>
                    <li>You can view every debate, motion and point on Hear, Hear! But what fun is just reading?</li>
                    <li>If you have already registered, select <b>Login</b> on the menu at the top. Enter your username and password and voila, you are in!</li>
                    <li>If you haven't registered, what are you waiting for?</li>
                    <li>Forgot to login? Don't worry, you'll be redirected to the login page when you try to login!</li>
                </ol>
            </p>
        </div>
      </div>

      <!-- Profile -->
      <div class="card" style="margin-bottom: 30px;">
        <h5 class="card-header">What's your Hear, Hear profile?</h5>
        <div class="card-body">
            <p>
                <ol>
                    
                    <li><em>To view your profile</em>, after having logged in, select your username on the menu at the top. Voila, that's your profile!</li>
                    <li>That's all the personal information we store.</li>
                    <li>Today, a display picture speaks a thousand words! So dont be just a default! Update your profile picture today.</li>
                    <li><em>Contributions</em> help track your progress on Hear, Hear. Create a motion, write a blog, argue, rebut and earn contributions! </li>
                </ol>
            </p>
        </div>
      </div>

      <!-- Motion -->
      <div class="card" style="margin-bottom: 30px;">
        <h5 class="card-header">How to create a motion?</h5>
        <div class="card-body">
            <p>
                Have a great motion? Hear, Hear makes it extremely easy to host a debate!
                <ol>
                    <li>Go to <em>Home</em> via the menu on the top.</li>
                    <li>Select <em>Create Motion</em>.</li>
                    <li>Enter the motion title, a caption (optional) and select a suitable difficulty. Be as accurate as possible!</li>
                    <li>Submit your motion. Voila, its up for a fun debate!</li>
                </ol>
            </p>
        </div>
      </div>

      <!-- Arguments and points -->
      <div class="card" style="margin-bottom: 30px;">
        <h5 class="card-header">How to add arguments, points or a rebuttals?</h5>
        <div class="card-body">
            <p>
                Did a great motion grease the wheels in your head?
                <ol>
                    <li>Click the <em>Hear, Hear!</em> option of the motion of your choice.</li>
                    <li>Scroll down to read existing arguments. Thought of something unheard? Make an argument!</li>
                    <li>To explore an argument, click<em>Explore</em> to read and make addtional points/rebuttals.</li>
                    <li>Always segregate and make valid arguments with appropriate titles to have a good debate.</li>
                </ol>
            </p>
        </div>
      </div>

      <!-- Blog -->
      <div class="card" style="margin-bottom: 30px;">
        <h5 class="card-header">Hear, Hear also has a blog?!</h5>
        <div class="card-body">
            <p>
                Absolutely! Have an opinion? Want to share your invaluable knowledge? Blog It!
                <ol>
                    <li>To read and learn, select <em>Blog</em> on the menu at the top.</li>
                    <li>Find a topic interesting? Click <em>Hear, Hear!</em> to read more on it.</li>
                    <li>To write one, select <em>Write a Blog</em> on the Blog page.</li>
                    <li>Choose a catchy title and caption and pen your thoughts away. Dont forget to <em>Post</em>.</li>
                </ol>
            </p>
        </div>
      </div>

  </div>

{% endblock %}